---
import BaseHead from "../../components/BaseHead.astro";
import Projects from "../../components/Projects.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
        margin-block: 1em;
      }
      ul li time {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #8e32dc;
      }
      .projects {
        display: block;
      }

      @media (min-width: 961px) {
        main {
          display: grid;
          grid-auto-flow: column;
          margin-inline: auto;
          height: 100%;
          width: 1200px;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <section>
        <h1><a href="/">️Home</a></h1>
        <ul>
          {
            posts.map((post) => (
              <li>
                <time datetime={post.data.pubDate.toISOString()}>
                  {post.data.pubDate.toLocaleDateString("en-us", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })}
                </time>
                <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
              </li>
            ))
          }
        </ul>
      </section>
      <Projects className="projects" />
    </main>
  </body>
</html>
